<!-- INCLUDE overall_header.html -->

<p class="{S_CONTENT_FLOW_END}<!-- IF S_USER_LOGGED_IN --> rightside<!-- ENDIF -->"><!-- IF S_USER_LOGGED_IN -->{LAST_VISIT_DATE}<!-- ELSE -->{CURRENT_TIME}<!-- ENDIF --></p>
<!-- IF U_MCP --><p>{CURRENT_TIME} <br />[&nbsp;<a href="{U_MCP}">{L_MCP}</a>&nbsp;]</p><!-- ELSEIF S_USER_LOGGED_IN --><p>{CURRENT_TIME}</p><!-- ENDIF -->

<!-- IF S_DISPLAY_SEARCH or (S_USER_LOGGED_IN and not S_IS_BOT) -->
<ul class="linklist">
	<!-- IF S_DISPLAY_SEARCH -->
		<li><a href="{U_SEARCH_UNANSWERED}">{L_SEARCH_UNANSWERED}</a><!-- IF S_LOAD_UNREADS --> &bull; <a href="{U_SEARCH_UNREAD}">{L_SEARCH_UNREAD}</a><!-- ENDIF --><!-- IF S_USER_LOGGED_IN --> &bull; <a href="{U_SEARCH_NEW}">{L_SEARCH_NEW}</a><!-- ENDIF --> &bull; <a href="{U_SEARCH_ACTIVE_TOPICS}">{L_SEARCH_ACTIVE_TOPICS}</a></li>
	<!-- ENDIF -->
	<!-- IF not S_IS_BOT and U_MARK_FORUMS --><li class="rightside"><a href="{U_MARK_FORUMS}" accesskey="m">{L_MARK_FORUMS_READ}</a></li><!-- ENDIF -->
</ul>
<!-- ENDIF -->

<!-- INCLUDE forumlist_body.html -->

<br />

<div class="tabs">
	<!-- Menu -->
	<ul class="tabNav">
		<li><a href="#first" class="first"><span>{L_WHO_IS_ONLINE}</span></a></li>
		<li><a href="#second"><span>{L_STATISTICS}</span></a></li>
		<li><a href="#third"><span>{L_BIRTHDAYS}</span></a></li>
		<!-- IF not S_USER_LOGGED_IN and not S_IS_BOT --><li><a href="#fourth"><span>{L_LOGIN}</span></a></li><!-- ENDIF -->
		<!-- Remove coments if you want to add another tab. -->
		<!-- <li><a href="#fifth"><span>Fifth</span></a></li> -->
	</ul>
	<!-- Content -->
	<div class="tabBG" id="first">
		<div id="insidetabBG">
			<!-- IF S_DISPLAY_ONLINE_LIST -->
			<!-- IF U_VIEWONLINE --><h3><a href="{U_VIEWONLINE}">{L_WHO_IS_ONLINE}</a></h3><!-- ELSE --><h3>{L_WHO_IS_ONLINE}</h3><!-- ENDIF -->
				<p>{TOTAL_USERS_ONLINE} ({L_ONLINE_EXPLAIN})<br />{RECORD_USERS}<br /> {LOGGED_IN_USER_LIST}
				<!-- IF LEGEND --><br /><em>{L_LEGEND}: {LEGEND}</em><!-- ENDIF --></p>
				<br />
			<!-- ENDIF -->
			<span class="corners-bottom"><span></span></span>
		</div>
	</div>

	<div class="tabBG" id="second">
		<div id="insidetabBG2">
			<!-- IF NEWEST_USER -->
			<h3>{L_STATISTICS}</h3>
				<p>&rsaquo; {TOTAL_POSTS}<br /> &rsaquo; {TOTAL_TOPICS}<br /> &rsaquo; {TOTAL_USERS}<br /> &rsaquo; {NEWEST_USER}</p>
				<br />
			<!-- ENDIF -->
			<span class="corners-bottom"><span></span></span>
		</div>
	</div>

	<div class="tabBG" id="third">
		<div id="insidetabBG3">
			<h3>{L_BIRTHDAYS}</h3>
				<p><!-- IF BIRTHDAY_LIST -->{L_CONGRATULATIONS}: <strong>{BIRTHDAY_LIST}</strong><!-- ELSE -->{L_NO_BIRTHDAYS}<!-- ENDIF --></p>
				<br />
			<span class="corners-bottom"><span></span></span>
		</div>
	</div>

	<div class="tabBG" id="fourth">
		<div id="insidetabBG4">
			<!-- IF not S_USER_LOGGED_IN and not S_IS_BOT -->
			<h3>{L_LOGIN_LOGOUT}<!-- IF S_REGISTER_ENABLED -->&nbsp; &rsaquo; &nbsp;<a href="{U_REGISTER}">{L_REGISTER}</a><!-- ENDIF --></h3>
				<form method="post" action="{S_LOGIN_ACTION}">
					<fieldset class="quick-login">
						<input type="text" name="username" id="username" size="10" class="inputbox" title="{L_USERNAME}" value="{L_USERNAME}" onclick="if(this.value=='{L_USERNAME}')this.value='';" onblur="if(this.value=='')this.value='{L_USERNAME}';" />
						<input type="password" name="password" id="password" size="10" class="inputbox" title="{L_PASSWORD}" value="{L_PASSWORD}" onclick="if(this.value=='{L_PASSWORD}')this.value='';" onblur="if(this.value=='')this.value='{L_PASSWORD}';" />
						<input type="submit" name="login" value="{L_LOGIN}" class="button2" />
						<ul>
							<!-- IF S_AUTOLOGIN_ENABLED --><li><label><input type="checkbox" name="autologin" id="autologin" tabindex="4" /> {L_LOG_ME_IN}</label></li><!-- ENDIF -->
							<li><label><input type="checkbox" name="viewonline" id="viewonline" tabindex="5" /> {L_HIDE_ME}</label></li>
							{S_LOGIN_REDIRECT}
						</ul>
					</fieldset>
				</form>
				<br />
			<!-- ENDIF -->
			<span class="corners-bottom"><span></span></span>
		</div>
	</div>

	<!-- Space for extra content
	<div class="tabBG" id="fifth">
		<div id="insidetabBG5">
			<p>Content</p>
			<span class="corners-bottom"><span></span></span>
		</div>
	</div>-->

</div>

<br />

<!-- INCLUDE overall_footer.html -->