<!-- INCLUDE mcp_header.html -->
<h2>{L_WHOIS}</h2>

<div class="panel">
	<div class="inner"><span class="corners-top2"><span></span></span>
	
		<p><a class="{S_CONTENT_FLOW_BEGIN}" href="{U_RETURN_POST}">{L_RETURN_POST}</a></p>
		<div class="postbody"><div class="content">
			<pre>{WHOIS}</pre>
		</div></div>
		<p><a class="{S_CONTENT_FLOW_BEGIN}" href="{U_RETURN_POST}">{L_RETURN_POST}</a></p>
	
	<span class="corners-bottom2"><span></span></span></div>
</div>

<!-- INCLUDE mcp_footer.html -->