	</div>

	<div class="copyright">{CREDIT_LINE} | proDVGFX by: <a href="http://gotskillslounge.com/">Prosk8er</a> &copy;
		<!-- IF TRANSLATION_INFO --><br />{TRANSLATION_INFO}<!-- ENDIF -->
		<!-- IF DEBUG_OUTPUT --><br />{DEBUG_OUTPUT}<!-- ENDIF -->
	</div>
</div>

</body>
</html>