/* ==============================
GENERAL
============================== */
body {
	font-family: Helvetica;
}
* {
	margin: 0;
	padding: 0;
}
a, a:visited, a:link, a:active {
	color: initial;
	text-decoration: none;
}
a:hover {
	color: #4070e0;/*blue*/
}
ul {
	list-style-type: none;
	display: block;
}
/*li {
	display: inline;
}*/
input, select, textarea {
	max-width: 100%;
}
input[type="checkbox"]:hover, input[type="radio"]:hover {
	cursor: pointer;
}
textarea {
	resize: none;
}
img {
	max-width: 100%;
}
em {
	font-weight: bold;
}

/* BOX-SIZING */
*, *:before, *:after {
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
.pointer {
	cursor: pointer;
}
iframe {
	max-width: 100%;
}
.ads {
	text-align: center;
	margin: 0 auto;
	max-width: 100% !important;
}
button:hover {
	cursor: pointer; /*Hand cursor*/
}
input[type="submit"]:hover {
	cursor: pointer; /*Hand cursor*/
}
a.inline_link {
	color: #0030a0;/*blue dark*/
}
a.inline_link:hover {
	color: #4070e0;/*blue*/
}

/* ==============================
MAIN SECTIONS
============================== */

/* ----- WRAPPER ----- */
#wrapper {
	margin: 0 auto;
	max-width: 75em;
}

/* ----- HEADER ----- */
.notification {
	background: #D0FFD0;
	border: 2px solid #90D090;
	border-top: 0;
	margin-bottom: 1em;
	padding: 0.5em;
	text-align: center;
	font-size: 0.85em;
	border-radius: 0 0 2em 2em;
	-moz-border-radius: 0 0 2em 2em;
	-webkit-border-radius: 0 0 2em 2em;
}
.notification_close {
	display: inline;
	border: 1px solid #000000;
	font-weight: bold;
	color: white;
	background: #008000;
	padding: 0 0.6em;
	line-height: 1.5em;
	cursor: pointer; /*Hand cursor*/
}
#header #lang {
	padding: 0.5em;
	margin: 0.2em;
}
#header #lang .lang {
	padding: 0.2em;
	text-decoration: none;
	cursor: pointer;
}
#header #lang .lang:hover {
	background: #eaeaea;
	border-radius: 0.5em;
}
#header #lang .langSelect {
	border: 1px solid #d0d0d0;
	border-radius: 0.5em;
	-moz-border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
}
#header #logo img {/*Logo is not bigger than viewport*/
	max-width: 100%;
}
#header #nav {
	background: #eaeaea;
	padding: 0.5em;
}
#header #nav ul.navlinks li {
	display: inline-block;
}
#header #nav .navlink {
	padding: 0 0.5em;
}
#header #nav .spoiler {
	font-weight: bold;
}

/* ----- CONTENT ----- */
#content {
	overflow: auto;
}
#content #spacer {
	clear: both;
}
#content #floatleft {
	float: left;
	width: 19%;
}
#content #floatright {
	float: right;
	width: 80%;
}
#footer {
	font-style: italic;
	font-size: 0.8em;
	background: #e8e8e8;
	border: 1px solid #c8c8c8;
	padding: 2%;
	margin-top: 1em;
}
#footer .links {
	font-style: initial;
	font-size: 1.1em;
}
#footer li {
	display: inline-block;
}


/* ==============================
SEARCH BOX
============================== */
#searchbar {
	margin: 1em auto;
}
#searchbar * {
	display: inline-block;
	max-height: 100%;
	height: 2.5em;
}
#searchbar #help {
	width: 3%;
	border-radius: 0.5em 0 0 0.5em;
	-moz-border-radius: 0.5em 0 0 0.5em;
	-webkit-border-radius: 0.5em 0 0 0.5em;
	border: 1px solid #d0d0d0;
	cursor: pointer;
}
#searchbar #help:hover, #searchbar button[name="search"]:hover {
	background: #d0d0d0;
}
#form_search input#q {
	width: 85%;
	border: 1px solid #d0d0d0;
	border-left: 0;
	border-right: 0;
	height: 2.5em;
}
#form_search #form_submit_top {
	width: 12%;
	border-radius: 0 0.5em 0.5em 0;
	-moz-border-radius: 0 0.5em 0.5em 0;
	-webkit-border-radius: 0 0.5em 0.5em 0;
	border: 1px solid #d0d0d0;
	cursor: pointer;
	height: 2.5em;
}
#searchbar #filters {
	display: none;
	font-family: Lucida Console;
	font-size: 0.8em;
	position: relative;
	top: -0.6em;
	left: 3%;
	width: 82.45%; /*(85% of 97%)*/
	background: #e8e8e8;
	padding: 0.5em;
	border: 1px solid #c8c8c8;
}
#syntax {
	display: none;
	border: 1px solid #c8c8c8;
	background: #e8e8e8;
	font-size: 0.8em;
	padding: 0.5em;
}
#syntax .mark_abilities, #syntax .mark_skills {
	line-height: 1.5em;
}
#syntax .mark_skills {
	background: white;
}
#syntax img {
	display: inline;
	width: 1em;
	height: 1em;
}
#syntax .syntaxRow {
	display: block;
}
#syntax .syntaxRow li {
	display: block;
}
#syntax .queryex {
	font-weight: bold;
}
#syntax .syntaxCol {
	vertical-align: top;
	display: inline-block;
	padding: 0.5em;
}
#syntax .syntaxCol li {
	display: block;
}

/* ==============================
PAGE SECTIONS
============================== */

.sections {
	margin: 1em auto;
}
/* --- Section header --- */
.sections .header {
	background: #d8d8d8;
	border: 1px solid #c8c8c8;
	padding: 1em;
	font-size: 1.2em;
}
.sections .header img {
	vertical-align: top;
	width: 1em;
	height: 1em;
}
.sections .header .title {
	display: inline-block;
	font-weight: bold;
	color: #505050;
	text-shadow: 2px 2px 2px #b0b0b0;
}
.sections .header .hide:link, .sections .header .hide:visited, .sections .header .hide:active {
	color: initial;
	text-decoration: none;
}
.sections .header .hide:hover {
	cursor: pointer; /*Hand cursor*/
}
/* --- Section content --- */
.sections .content {
	background: #e8e8e8;
	border: 1px solid #c8c8c8;
	padding: 1em;
	
	margin-bottom: 1em;
	max-width: 100%;
}
.sections hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ffffff;
	margin: 1em 0;
	width: 80%;
}
.hidden {
	display: none;
}


/* ==============================
FILTERS
============================== */
.filter {
	vertical-align: top;
	max-width: 30em;
	padding: 0.5em;
	border-bottom: 1px solid white;
}
#filter_def, #filter_atk {
	display: inline-block;
	width: 49%;
}
#filters #filterL, #filters #filterR {
	display: inline-block;
	vertical-align: top;
	padding: 0 0.5em;
}
#filterL {
	width: 25em;
}
.filter label {
	margin: 0.5em 0;
	font-weight: bold;
	display: block;
}
.filter li {
	display: inline-block;
	padding: 0.3em;
}
.filter .cardtype li {
	display: block;
	padding: 0.2em;
}
.checklabel {
	cursor: pointer;
	margin: 0;
	padding: 0.2em;
}
.filter li {
	padding: 0.3em;
}
.checklabel:hover {
	color: #4070e0;
	background: #d0d0d0;
	border-radius: 0.2em;
}
input[type=checkbox]:checked + .checklabel, input[type=radio]:checked + .checklabel {
	background: #B0FFB0;/*green*/
	border-radius: 0.2em;
	-moz-border-radius: 0.2em;
	-webkit-border-radius: 0.2em;
}
input[type="text"], input[type="number"], select {
	padding: 0.2em;
}
input[name="atk"], input[name="def"] {
	width: 5em;
}
.action_buttons {
	font-size: 1.2em;
	background: #ffffff;
	/*color: white;*/
	padding: 0.2em 0.5em;
	margin-top: 1em;
	border-radius: 0.5em;
	-moz-border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
	border: 2px solid #808080;
}
.action_buttons:hover {
	background: #000000;
	color: #FFFFFF;
	border-color: #000000;
}


/* ==============================
OPTIONS
============================== */

.option {
	max-width: 100%;
}
.option * {
	margin: 0;
	padding: 0;
	max-width: 12em;
	/*padding: 1em 0;*/
}
.option .title {
	padding: 0.3em 0;
	font-weight: bold;
}
.opt_i {/*Option input*/
	/*width: 3em;*/
	font-weight: bold;
}
.opt_b {/*Run button*/
	background: #808080;
	color: white;
	border: 1px solid black;
	border-radius: 0.5em;
	-moz-border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
	display: block;
	margin: 0.5em 0;
}
.opt_b:hover {/*Option button*/
	cursor: pointer;
	background: #404040
}
.option .checklabel {
	font-stretch: ultra-condensed;
	padding-left: 0.2em;
}
#option_numxrow .controls * {
	display: inline-block;
	width: 33%;
	vertical-align: top;
	max-height: 100%;
	font-size: 1.3em;
	height: 1.3em;
	max-width: 10em;
}
#opt_b_numxrow_minus {
	border-radius: 0.5em 0 0 0.5em;
	-moz-border-radius: 0.5em 0 0 0.5em;
	-webkit-border-radius: 0.5em 0 0 0.5em;
	border: 0;
	margin: 0;
}
#opt_i_numxrow {
	text-align: center;
}
#opt_b_numxrow_plus {
	border-radius: 0 0.5em 0.5em 0;
	-moz-border-radius: 0 0.5em 0.5em 0;
	-webkit-border-radius: 0 0.5em 0.5em 0;
	border: 0;
	margin: 0;
}


/* ==============================
VIEWER
============================== */
#viewer .content {
	text-align: center;
	margin: 0;
	padding: 1em 0;
	background: initial;
}
.card {
	display: inline-block;
	border: 0;
	margin: 0;
	padding: 0.1em;
	position: relative;
}
.card img {
	width: 100%;
}
.card .card_zoom {
	text-align: right;
	padding-right: 10%;
	width: 1.2em;
	height: 1.2em;
	padding: 0.1em;
	border: 1px solid #606060;
	background: #a0a0a0;
	margin: 0 auto;
}
.card .card_zoom img {
	max-width: 100%;
	max-height: 100%;
}
.card .missing {
	position: relative;
	top: 50px;
	color: white;
	font-style: italic;
	/*background: rgba(255, 108, 57, 1.0);*/
	background: rgba(0, 0, 0, 0.4);
}
.selected {
  position: relative;
}
.selected:after {
  content: " ";
  z-index: 2;
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(255, 85, 85, 0.5);
}
.toTop {
	display:block;
	margin: 1em;
}

/* ==============================
SPOILER
============================== */
.spoiler {
	margin-bottom: 2.5em;
}
.spoiled_last{
	border: 4px solid red;
}
.spoiler_header {
	cursor: pointer; /*Hand cursor*/
	display: block;
	margin: 1em 0;
}
.spoiler_hide img {
	height: 100%;
	vertical-align: bottom;
	height: 1.2em;
}
.spoiler_title {
	display: inline-block;
	font-size: 1.2em;
	font-weight: bold;
	text-shadow: 2px 2px 2px #d0d0d0;
}
.spoiler_content {
	width: 100%;
}

/* Spoiled card highlight */
.spoiled img {
	border: 3px solid #ff6c39;
	border-radius: 5%;
}

/* ==============================
HYPERGEOMETRIC CALCULATOR
============================== */
#hypcalc_inputs {
	margin: 1em 0;
}

#hypcalc .hypcalc_parameters input {
	width: 8em;
	font-size: 1.25em;
	line-height: 1.25em;
	padding: 0.2em;
	border: 1px solid #d8d8d8;
}
.hypcalc_parameters label {
	/*width: 10em;
	display: block;*/
	display: inline-block;
	width: 10em;
	height: 1.25em;
	background: #ffffff;
	padding: 0.2em 0.5em;
	border-radius: 0.5em;
	-moz-border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
}
#hypcalc #inputs #pop_n {
	border-radius: 0.5em 0.5em 0 0;
	-moz-border-radius: 0.5em 0.5em 0 0;
	-webkit-border-radius: 0.5em 0.5em 0 0;
}
#hypcalc #inputs #smp_k {
	border-radius: 0 0 0.5em 0.5em;
	-moz-border-radius: 0 0 0.5em 0.5em;
	-webkit-border-radius: 0 0 0.5em 0.5em;
}
#hypcalc_result {
	margin: 2em 0;
}
#hypcalc_calculate, #hypcalc_output {
	display: inline-block;
	background: #ffffff;
	font-size: 1.25em;
	height: 1.65em;
	padding: 0.2em 0.5em;
	border: 2px solid #808080;
}
#hypcalc_result #hypcalc_calculate {
	border-radius: 0.5em 0 0 0.5em;
	-moz-border-radius: 0.5em 0 0 0.5em;
	-webkit-border-radius: 0.5em 0 0 0.5em;
}
#hypcalc_result #hypcalc_calculate:hover {
	cursor: pointer; /*Hand cursor*/
	background: #000000;
	color: #FFFFFF;
	border-color: #000000;
}
#hypcalc_result #hypcalc_output {
	font-weight: bold;
	border-left: 0;
	border-radius: 0 0.5em 0.5em 0;
	-moz-border-radius: 0 0.5em 0.5em 0;
	-webkit-border-radius: 0 0.5em 0.5em 0;
}
#hypcalc_examples {
	margin: 1em 0;
}
.hypcalc_example {
	margin: 1em 0;
}
.hypcalc_example_button {
	padding: 0.7em 1em;
	background: #353a41;/*http://www.color-hex.com/color-palette/4949*/
	color: #e9eaed;/*http://www.color-hex.com/color-palette/4949*/
	border: 1px solid #000000;
	border-radius: 1em;
	-moz-border-radius: 1em;
	-webkit-border-radius: 1em;
}
.hypcalc_example_button:hover {
	background: #6a7481;/*http://www.color-hex.com/color-palette/4949*/
}


/* ==============================
LINKS
============================== */

#links h1 {
	font-size: 1.5em;
	font-weight: bold;
	margin: 1em;
}

#links .links li {
	display: block;
	margin: 1.5em 0.5em;
	padding: 1em;
	background: #f8f8f8;
	border: 2px solid #a0a0a0;
	border-radius: 1em;
	-moz-border-radius: 1em;
	-webkit-border-radius: 1em;
	-webkit-box-shadow: 0 10px 6px -6px #777;
	-moz-box-shadow: 0 10px 6px -6px #777;
	box-shadow: 0 10px 6px -6px #777;
}

#links .links li a {
	font-size: 1.1em;
	font-weight: bold;
}

/* ==============================
CONTACT
============================== */
#contact .content .row {
	margin: 1em 0;
}

#contact .content label {
	display: block;
	margin: 0.5em 0;
}
#contact .content input[type="text"], textarea {
	border: 1px solid #a0a0a0;
	width: 20em;
	padding: 0.5em 1em;
}
#contact .content textarea {
	font-family: Verdana;
	background: #FFFFFF url(../_images/icons/mail.png) no-repeat 95% 90%;
}



/* ==============================
CARD PAGE
============================== */
.cardpage {
	padding: 1em;
}
.cardimage, .cardinfo {
	display: inline-block;
	vertical-align: top;
	padding: 0 1em 1em 1em;
}
.cardimage {
	text-align: center;
	width: 40%;
}
.cardimage img {
	margin: 0 auto;
	max-width: 400px;
	width: 100%;
}
.cardprop {
	margin: 0.3em 0;
}
.cardinfo {
	padding-top: 1em;
	width: 60%;
	border: 2px solid #e0e0e0;
	border-radius: 1em;
	-moz-border-radius: 1em;
	-webkit-border-radius: 1em;
}
.cardprop * {
	display: inline-block;
}
.propLabel, .propValue {
	display: inline-block;
	vertical-align: top;
}
.propLabel {
	width: 26%;
	text-align: right;
	padding: 0.3em;
	background: #d8d8d8;
	border-radius: 0.3em 0 0 0.3em;
	-moz-border-radius: 0.3em 0 0 0.3em;
	-webkit-border-radius: 0.3em 0 0 0.3em;
}
.propValue {
	width: 74%;
	padding: 0.3em;
}
span.freecost {
	font-style: italic;
	padding: 0.2em;
	background: #d0d0d0;
	border-radius: 100%;
	-moz-border-radius: 100%;
	-webkit-border-radius: 100%;
}
img.mark {
	display: inline-block;
	width: 1.05em;
	height: 1.05em;
	padding: 0.05em;
	vertical-align: -0.1em;
}
.cardrulings {
	width: 100%;
}
.flavortext {
	font-style: italic;
}

/* Mark */
.cardtext {
	line-height: 1.1em;
}
.mark_abilities, .mark_skills, .mark_break, .mark_spoiler {
	display: inline-block;
	padding: 0 0.3em;
	line-height: 1em;
	border-radius: 0.3em;
	-moz-border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
	box-shadow: 1px 1px 3px #989898;
}
.mark_abilities {
	background: #000000;
	color: #FFFFFF;
}
.mark_skills {
	border: 1px solid #000000;
}
.mark_break {
	background: #FF0000;
	color: white;
}
.mark_breaktext {
	color: #FF0000;
	display: inline;
}
.mark_spoiler {
	background: #ff6c39;
	color: #ffffff;
	box-shadow: 2px 2px 2px #808080;
}
.mark_errata {
	color: #0000FF;
	display: inline;
}


/* ==============================
DEMO - AUTOCOMPLETE
============================== */
.ui-autocomplete li {
	display: block;
}
input#cardnames {
	margin: 0 auto;
	padding: 0.5em;
	font-size: 1.3em;
}
.section_list li {
	display: inline-block;
	margin: 1.5em 0.5em;
	padding: 1em;
	background: #f8f8f8;
	border: 2px solid #a0a0a0;
	border-radius: 1em;
	-moz-border-radius: 1em;
	-webkit-border-radius: 1em;
	-webkit-box-shadow: 0 10px 6px -6px #777;
	-moz-box-shadow: 0 10px 6px -6px #777;
	box-shadow: 0 10px 6px -6px #777;
}
.demo_version {
	font-style: italic;
}
.feedback {
	font-weight: bold;
}
.demo ul {
	padding: 1em;
}

/* ==============================
MOBILE
============================== */
@media (max-width: 47em) { /*752px*/
	
	.filter {
		display: block;
		height: initial;
	}
	#header #nav li {
		display: block;
		text-align: center;
		line-height: 1.3em;
	}
	#content #floatleft {
		float: none;
		width: 100%;
	}
	#content #floatright {
		float: none;
		width: 100%;
	}
	#searchbox #help {
		width: 6%;
	}
	#form_search input#q {
	width: 74%;
	}
	#form_search #form_submit_top {
		width: 20%; /*(80% of 94%)*/
	}
	#filters #filterL {
		width: 100%;
	}
	.cardprop * {
		display: inline-block;
	}
	.cardprop {
		margin: 0.8em 0;
	}
	.cardimage, .cardinfo {
		display: block;
		width: 100%;
		padding: 1em;
	}
	.cardimage img {
		width: 95%;
		max-width: 95%;
	}
	.propLabel, .propValue {
		display: block;
		width: 100%;
	}
	.propLabel {
		text-align: center;
		border: 1px solid #606060;
		border-bottom: 0;
		border-radius: 0.5em 0.5em 0 0;
		-moz-border-radius: 0.5em 0.5em 0 0;
		-webkit-border-radius: 0.5em 0.5em 0 0;
		font-weight: bold;
	}
	.propValue {
		text-align: center;
		border: 1px solid #606060;
		border-top: 0;
		border-radius: 0 0 0.5em 0.5em;
		-moz-border-radius: 0 0 0.5em 0.5em;
		-webkit-border-radius: 0 0 0.5em 0.5em;
		background: #f8f8f8;
	}
	.cardtext {
		text-align: left;
	}
	#hypcalc .hypcalc_parameters input {
		width: 100%;
		border: 1px solid #606060;
		margin-bottom: 0.5em;
		border-radius: 0 0 0.5em 0.5em;
		-moz-border-radius: 0 0 0.5em 0.5em;
		-webkit-border-radius: 0 0 0.5em 0.5em;
	}
	#hypcalc #inputs #pop_n {
		border-radius: 0;
		-moz-border-radius: 0;
		-webkit-border-radius: 0;
	}
	#hypcalc #inputs #smp_k {
		border-radius: 0;
		-moz-border-radius: 0;
		-webkit-border-radius: 0;
	}
	.hypcalc_parameters label {
		height: 1.5em;
		background: #606060;
		color: white;
		text-align: center;
		width: 100%;
		display: block;
		border: 1px solid #606060;
		border-radius: 0.5em 0.5em 0 0;
		-moz-border-radius: 0.5em 0.5em 0 0;
		-webkit-border-radius: 0.5em 0.5em 0 0;
	}
}