/* Beginning general HTML definitions */
nav#main ul {
    list-style-type: none;
}

div.banner {
  height: 225px;
  background-image: url(../pics/banner.png);
  background-color: #000;
	margin-bottom: 25px;
	border: 2px solid #000;
	border-radius: 15px 15px;
  box-shadow: 10px 10px 10px #4d4b4a;
  background-repeat: no-repeat;
  background-position:center; 
}

nav#main a {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}
/* End general HTML definitions */
  
/* Beginning after-declaration */
nav#main:after {
    content: "."; 
    display: block;             
    clear: both; 
    visibility: hidden;
    height: 0;
}
/* End after-declaration */

/* Beginning main navigation */
nav#main li {
	float: left;
}

nav#main li a {
    float: left;	
	padding: 5px 20px;
	font-size: 1.3em;
}

nav#main a {
	margin-right: 2px;
}
	
nav#main {
    font-size: 1.5em;
    border: 1px solid #000;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 5px 5px 5px #4d4b4a;    
	background: #4c4c4c; /* Old browsers */
	background: -moz-linear-gradient(top,  #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4c4c4c), color-stop(12%,#595959), color-stop(25%,#666666), color-stop(39%,#474747), color-stop(50%,#2c2c2c), color-stop(51%,#000000), color-stop(60%,#111111), color-stop(76%,#2b2b2b), color-stop(91%,#1c1c1c), color-stop(100%,#131313)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */
    margin: 0 0 15px 0;
}
  
nav#main li a {
    color: #FFFFFF;
    display: block;
    font-weight: bold;
}

nav#main a:hover, nav#main a.active {
	background: #f5f6f6; /* Old browsers */
	background: -moz-linear-gradient(top,  #f5f6f6 0%, #dbdce2 21%, #b8bac6 49%, #dddfe3 80%, #f5f6f6 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f6f6), color-stop(21%,#dbdce2), color-stop(49%,#b8bac6), color-stop(80%,#dddfe3), color-stop(100%,#f5f6f6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f6f6', endColorstr='#f5f6f6',GradientType=0 ); /* IE6-9 */
	color:#000;
	border-radius: 7px 7px 7px 7px;
}
/* End main navigation */
  
/* Beginning footer */
footer {
    clear: both;
    margin: 10px 0 10px 20px;
    border-top: 1px solid #000;
}
  
footer p.copy {
	color: #868686;
	font-size: 0.8em;
}
/* End footer */
  
html, body {
	background-color: #868686 !important;
}