div.wrapper {
  max-width: 1540px;
  margin: 0 auto;
  
}

nav#main li a {
  padding: 5px 25px;
}

p.me-trigger-sub {
  display: none;
}

nav#sub, aside, aside#news {
  width: 18%;
  float: left;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

div.content {
  float: left;
  width: 64%;
  padding: 0 20px;
}   

p.version {
  float: right;
}

nav#main li {
  float: left;
}

nav#main li a {
  float: left;
  border-right: 1px solid #FFFFFF;
}

p.me-trigger-main, p.me-trigger-sub, p.me-trigger-news {
  display: none;
}

nav#sub ul li {
  margin-bottom: 2px;
} 