/* General Border Definitions */
  
div.wrapper {
	box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 10px;
}

img.astema {
	height: 300px;
	border: 2px solid #8f0222;
	border-radius: 15px 15px;
  box-shadow: 10px 10px 10px #4d4b4a;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

img.me {
	height: 300px;
	border: 2px solid #000;
	border-radius: 15px 15px;
  box-shadow: 10px 10px 10px #4d4b4a;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

div.banner {
  height: 225px;
  background-image: url(../pics/banner.png);
  background-color: #000;
	margin-bottom: 25px;
	border: 2px solid #000;
	border-radius: 15px 15px;
  box-shadow: 10px 10px 10px #4d4b4a;
  background-repeat: no-repeat;
  background-position:center; 
}
/*
	div.content {
		border: 1px solid #000;
		border-radius: 7px;
		box-shadow: 5px 5px 5px #4d4b4a;
	    background-color: #0f0;
    }  */
  
/* Tablet and PC */
@media screen and (min-width: 768px) {

    nav#main li {
			float: left;
    }

		nav#main li a {
	    float: left;	
		padding: 5px 20px;
    }

    p.me-trigger-main {
      display: none;
    }
    
    p.me-trigger-main, p.me-trigger-sub, p.me-trigger-news {
      padding-left: 5px;
      margin-bottom: 5px;
    }
    
    p.me-trigger-main a, p.me-trigger-sub a, p.me-trigger-news a {
      padding: 5px 15px 5px 25px;
    }
        
    nav#sub ul li {
			margin-bottom: 2px;
    }
    
	div.content {
		border: 1px solid #000;
		border-radius: 7px;
		box-shadow: 5px 5px 5px #4d4b4a;
	    background-color: #e3e3e3;
    }
}
  
/* PC */
@media screen and (min-width: 1024px) {

    div.wrapper {
		max-width: 1540px;
		margin: 0 auto;
    }
    
    nav#main li a {
		padding: 5px 25px;
    }
    
    p.me-trigger-sub, p.me-trigger-news {
      display: none;
    }
    
    nav#sub, aside, #news {
      width: 18%;
      float: left;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      display: block !important;
    }
    
    div.content {
		float: left;
		width: 61%;
		margin-left: 10px;
		margin-right: 10px;
		border: 1px solid #000;
		border-radius: 7px;
		box-shadow: 5px 5px 5px #4d4b4a;
	  background-color: #e3e3e3;
    }  
}

 /* Tablet Portrait */
  @media screen and (min-width: 768px) and (orientation:portrait) {
  
    nav#main li a {
      padding: 5px 15px;
    }
    
    p.me-trigger-main, p.me-trigger-sub, p.me-trigger-news {
      padding-left: 15px;
      margin-bottom: 15px;
    }

    p.me-trigger-main a, p.me-trigger-sub a, p.me-trigger-news a  {
      padding: 5px 15px 5px 25px;
    }
    
    nav#main {
      display: block !important;
    }
    
    nav#sub, aside#news {
      display: none;
    }
    
    nav#sub ul li {
      margin: 5px 0;
    }
    
    aside {
      margin-left: 10px;
    }
    
    aside#news {
      margin-left: 0;
    }
    

    div.content {
		float: left;
		width: 61%;
		padding: 0 20px;
		
		margin-left: 10px;
		margin-right: 10px;
		border: 1px solid #000;
		border-radius: 7px;
		box-shadow: 5px 5px 5px #4d4b4a;
	  background-color: #e3e3e3;
		padding: 15px;
    }  
 }
 
  @media screen and (max-width: 767px) {
    
    nav#main, nav#sub, aside#news, div.banner {
      display: none;
    }
    
    nav#main li {
      border-top: 1px solid #fff;
    }
    
    nav#main li:first-child{
      border-top: none;
    }
    
    nav#main li a {
      padding: 5px 10px;
    }
    
    nav#sub ul li {
      margin: 5px 0;
    }
    
    p.me-trigger-main {
      padding-left: 5px;
      margin-bottom: 5px;
    }
    
    p.me-trigger-sub, p.me-trigger-news {
      margin-bottom: 10px;
      padding-left: 5px;
    }
    
    p.me-trigger-main a, p.me-trigger-sub a, p.me-trigger-news a {
      padding: 5px 15px 5px 25px;
    }
    
    a.back, a.forward {
      float: none;
      margin-bottom: 5px;
      background: none;
      padding: 0;
    }
    
    aside {
      margin-left: 10px;
    }
    
    aside#news {
      margin-left: 0;
    }
  }