/* Colours and backgrounds for common.css */

html, body {
	background-color: #868686;
	color: #D3D3D3;
}

#simple-wrap {
	background-color: #191919;
}

h1 {
	color: #FFFFFF;
}

h2 {
	color: #C7CFCF;
}

h3 {
	color: #CCC;
}

hr {
	border-color: #000000;
	border-top-color: #CCCCCC;
}

hr.dashed {
	border-top-color: #000;
}

/* Search box */

#search-box {
	color: #FFF;
}

#search-box #keywords {
	background-color: #FFF;
}

#search-box input {
	border-color: #090909;
}

/* Round cornered boxes and backgrounds */
.headerbar {
	background: #060606 url("{T_THEME_PATH}/images/bg_header.png") repeat-x;
	color: #F9FAF9;
}

.navbar {
	background: #2A2A2A;
	padding: 0 10px;
}

.statbar {
	background: #070707;
}
.forabg, .forumbg {
	background: #101010 url("{T_THEME_PATH}/images/bg_list.png") repeat-x;
}

.forumbg {
	background: #101010 url("{T_THEME_PATH}/images/bg_list.png") repeat-x /*#090909 url("{T_THEME_PATH}/images/f_bg.png") repeat-x*/;
}

.panel {
	background-color: #191919;
	color: #D9D4D4;
}

.post:target .content {
	color: #D7D4D4;
}

.post:target h3 a {
	color: #D7D4D4;
}

.bg1, .bg2, .bg3 {
	background: #2A2A2A url("{T_THEME_PATH}/images/p_bg.png") repeat-x;
}

.ucprowbg {
	background-color: #1F1F1F;
}

.fieldsbg {
	background-color: #2A2A2A;
}

span.corners-top					{ background-image: url("{T_THEME_PATH}/images/corners_left.png"); }
span.corners-top span				{ background-image: url("{T_THEME_PATH}/images/corners_right.png"); }
span.corners-bottom					{ background-image: url("{T_THEME_PATH}/images/corners_left.png"); }
span.corners-bottom span				{ background-image: url("{T_THEME_PATH}/images/corners_right.png"); }
div.headerbar span.corners-top		{ background-image: url("{T_THEME_PATH}/images/corners_left2.png"); }
div.headerbar span.corners-top span	{ background-image: url("{T_THEME_PATH}/images/corners_right2.png"); }

/* Alternate/used for control panel (lighter images) */
span.corners-top2 { background-image: url("{T_THEME_PATH}/images/2corners_left.png"); }
span.corners-top2 span { background-image: url("{T_THEME_PATH}/images/2corners_right.png"); }
span.corners-bottom2 { background-image: url("{T_THEME_PATH}/images/2corners_left.png"); }
span.corners-bottom2 span { background-image: url("{T_THEME_PATH}/images/2corners_right.png"); }
div.headerbar span.corners-top2 { background-image: url("{T_THEME_PATH}/images/2corners_left2.png"); }
div.headerbar span.corners-top2 span { background-image: url("{T_THEME_PATH}/images/2corners_right2.png"); }

/* Horizontal lists */

ul.navlinks {
	border-bottom-color: #000;
}

/* Table styles */
table.table1 thead th {
	color: #F9FAF9;
}

table.table1 tbody tr {
	border-color: #000;
}

table.table1 tbody tr:hover, table.table1 tbody tr.hover {
	background-color: #303030;
	color: #F9FAF9;
}

table.table1 td {
	color: #D9D4D4;
}

table.table1 tbody td {
	border-top-color: #000;
}

table.table1 tbody th {
	background-color: #191919;
	border-bottom-color: #000;
	color: #F9FAF9;
}

table.info tbody th {
	color: #C7CFCF;
}

/* Misc layout styles */
dl.details dt {
	color: #D7D4D4;
}

dl.details dd {
	color: #D7D4D4;
}

.sep {
	color: #1198D9;
}

/* Pagination */

.pagination span strong {
	color: #FFFFFF;
}

.pagination span a, .pagination span a:link, .pagination span a:visited {
	background: #000;
	border-color: #000;
	color: #b20304;
}

.pagination span a:hover {
	background: #1F1F1F;
	border-color: #000;
	color: #FFFFFF;
}

.pagination span a:active {
	background: #000;
	border-color: #000;
	color: #b20304;
}

/* Pagination in viewforum for multipage topics */
.row .pagination {
	background-image: url("{T_THEME_PATH}/images/icon_pages.png");
}

.row .pagination span a, li.pagination span a {
	background-color: transparent;
}

.row .pagination span a:hover, li.pagination span a:hover {
	background-color: transparent;
}

/* Miscellaneous styles */

.copyright {
	color: #F9FAF9;
}

.copyright a {
	color: #b20304;
}

.error {
	color: #A80011;
}

.reported,
li.reported:hover {
	background-color: transparent;
}

/* you can add a background for stickies and announcements*/
.sticky {}
.announce {}

div.rules {
	background-color: #2A2A2A;
	color: #D7D4D4;
}

p.rules {
	background-color: #2A2A2A;
	background-image: url("{T_THEME_PATH}/images/p_bg.png");
}

/* Colours and backgrounds for links.css */

a:link, a:focus, a:visited, a:active {
	color: #898989;
}

a:hover {
	color: #B20304;
	text-decoration: none;
}

/* Links on gradient backgrounds */
#search-box a:link, .navbg a:link, .forumbg .header a:link, .forabg .header a:link, th a:link {
	color: #FFF;
}

#search-box a:visited, .navbg a:visited, .forumbg .header a:visited, .forabg .header a:visited, th a:visited {
	color: #FFF;
}

#search-box a:hover, .navbg a:hover, .forumbg .header a:hover, .forabg .header a:hover, th a:hover {
	color: #F9FAF9;
}

#search-box a:active, .navbg a:active, .forumbg .header a:active, .forabg .header a:active, th a:active {
	color: #FFF;
}

/* Links for forum/topic lists */
a.forumtitle {
	color: #D7D7D7;
}

a.forumtitle:visited {
	color: #D7D7D7;
}

a.forumtitle:hover {
	color: #CCC;
}

a.forumtitle:active {
	color: #D7D7D7;
}

a.topictitle {
	color: #D7D7D7;
}

a.topictitle:visited {
	color: #D7D7D7;
}

a.topictitle:hover {
	color: #CCC;
}

a.topictitle:active {
	color: #D7D7D7;
}

/* Post body links */
.postlink, .postlink:active, .postlink:focus, .postlink:visited {
	color: #F9FAF9;
}

.postlink:hover {
	color: #FFF;
	text-decoration: none;
}

.signature a, .signature a:visited, .signature a:hover, .signature a:active {
	background-color: transparent;
}

/* Profile links */
.postprofile a:link, .postprofile a:visited, .postprofile dt.author a {
	color: #D7D7D7;
}

.postprofile a:hover, .postprofile dt.author a:hover {
	color: #C7C7C7;
}

.postprofile a:active {
	color: #D7D7D7;
}

/* Profile searchresults */
.search .postprofile a {
	color: #D7D7D7;
}

.search .postprofile a:hover {
	color: #C7C7C7;
}

/* Back to top of page */
a.top, a.top2	{ background-image: url("{IMG_ICON_BACK_TOP_SRC}"); }
/* Arrow links  */
a.up		{ background-image: url("{T_THEME_PATH}/images/arrow_up.gif"); }
a.down		{ background-image: url("{T_THEME_PATH}/images/arrow_down.gif"); }
a.left		{ background-image: url("{T_THEME_PATH}/images/arrow_left.gif"); }
a.right		{ background-image: url("{T_THEME_PATH}/images/arrow_right.gif"); }
a.up:hover	{ background-color: transparent; }
a.left:hover	{ color: #980000; }
a.right:hover	{ color: #980000; }

/* Colours and backgrounds for content.css */

ul.forums {
	background-color: transparent;
}

ul.topiclist li {
	color: #F9FAF9;
}

ul.topiclist dd {
	border-left-color: #191919;
}

.rtl ul.topiclist dd {
	border-right-color: #191919;
	border-left-color: transparent;
}

ul.topiclist li.row dt a.subforum.read {
	background-image: url("{IMG_SUBFORUM_READ_SRC}");
}

ul.topiclist li.row dt a.subforum.unread {
	background-image: url("{IMG_SUBFORUM_UNREAD_SRC}");
}

li.row {
	background: transparent /* #070707 url("{T_THEME_PATH}/images/n_h.png") repeat-x*/;
	border: 1px solid transparent;
}

li.row:hover {
	background: transparent /* #303030 url("{T_THEME_PATH}/images/n_h2.png") repeat-x*/;
	border: 1px solid transparent;
}

li.row strong {
	color: #F9FAF9;
}

li.row:hover {
	background-color: transparent;
}

/* Row hover effect change or remove here */
li.row:hover dd {
	border-left: 1px solid #333;
}
/*End*/

.rtl li.row:hover dd {
	border-left-color: transparent;
	border-right-color: #FFF;
}

li.header dt, li.header dd {
	color: #FFF;
}

/* Forum list column styles */
ul.topiclist dd.searchextra {
	color: #333;
}

/* Post body styles */
.postbody {
	color: #D7D4D4;
}

/* Content container styles */
.content {
	color: #F9FAF9;
}

.content h2, .panel h2 {
	border-bottom-color:  transparent;
	color: #DFD4D4;
}

dl.faq dt {
	color: #F9FAF9;
}

.posthilit {
	background-color: #F3BFCC;
	color: #BC2A4D;
}

/* Post signature */
.signature {
	border-top-color: #555;
}

/* Post noticies */
.notice {
	border-top-color:  #CCC;
}

/* BB Code styles */
/* Quote block */
blockquote {
	background-color: #191919;
	background-image: url("{T_THEME_PATH}/images/quote.png");
	border-color: #010101;
}

.rtl blockquote {
	background-image: url("{T_THEME_PATH}/images/quote_rtl.gif");
}

/* Nested quotes */
blockquote blockquote {
	background-color: #212121;
}

/* Nested quotes */
blockquote blockquote blockquote {
	background-color: #333;
}

/* Code block */
dl.codebox {
	background-color: #191919;
	border-color: #070708;
}

dl.codebox dt {
	border-bottom-color:  #000;
}

dl.codebox code {
	color: #AA0000;
}

.syntaxbg		{ color: #FFFFFF; }
.syntaxcomment	{ color: #FF8000; }
.syntaxdefault	{ color: #0000BB; }
.syntaxhtml		{ color: #000000; }
.syntaxkeyword	{ color: #007700; }
.syntaxstring	{ color: #DD0000; }

/* Attachments */
.attachbox {
	background-color: #252525;
	border-color:  #000;
}

.pm-message .attachbox {
	background-color: #252525;
}

.attachbox dd {
	border-top-color: #000;
}

.attachbox p {
	color: #C7CCC7;
}

.attachbox p.stats {
	color: #D9D4D4;
}

.attach-image img {
	border-color: #343434;
}

/* Inline image thumbnails */

dl.file dd {
	color: #D9D4D4;
}

dl.thumbnail img {
	background-color: transparent;
	border-color: #000;
}

dl.thumbnail dd {
	color: #666;
}

dl.thumbnail dt a:hover {
	background-color: #030303;
}

dl.thumbnail dt a:hover img {
	border-color: #010101;
}

/* Post poll styles */

fieldset.polls dl {
	border-top-color: transparent;
	color: #C7C3C7;
}

fieldset.polls dl.voted {
	color: #F9FAF9;
}

fieldset.polls dd div {
	color: #FFF;
}

.rtl .pollbar1, .rtl .pollbar2, .rtl .pollbar3, .rtl .pollbar4, .rtl .pollbar5 {
	border-right-color: transparent;
}

.pollbar1	{ background: url("{T_THEME_PATH}/images/pollbg_01.png"); border: 1px solid #000; }
.rtl .pollbar1	{ border: 1px solid #000; }
.pollbar2	{ background: url("{T_THEME_PATH}/images/pollbg_01.png"); border: 1px solid #000; }
.rtl .pollbar2	{ border: 1px solid #000; }
.pollbar3	{ background: url("{T_THEME_PATH}/images/pollbg_01.png"); border: 1px solid #000; }
.rtl .pollbar3	{ border: 1px solid #000; }
.pollbar4	{ background: url("{T_THEME_PATH}/images/pollbg_01.png"); border: 1px solid #000; }
.rtl .pollbar4	{ border: 1px solid #000; }
.pollbar5	{ background: url("{T_THEME_PATH}/images/pollbg_01.png"); border: 1px solid #000; }
.rtl .pollbar5	{ border: 1px solid #000; }

/* Poster profile block */
.postprofile {
	border-bottom-color: #666;
	color: #CCC;
}

.rtl .postprofile {
	border-left-color: transparent;
	border-right-color: #FFF;
}

.pm .postprofile {
	border-left-color: transparent;
}

.rtl .pm .postprofile {
	border-left-color: transparent;
	border-right-color: #CCC;
}

.postprofile strong {
	color: #FFF;
}

.online {
	background-image: url("{IMG_ICON_USER_ONLINE_SRC}");
	background-position: top right;
	background-repeat: no-repeat;
	z-index: 999;
}

/* Colours and backgrounds for buttons.css */

/* Big button images */
.reply-icon span	{ background-image: url("{IMG_BUTTON_TOPIC_REPLY_SRC}"); }
.post-icon span		{ background-image: url("{IMG_BUTTON_TOPIC_NEW_SRC}"); }
.locked-icon span	{ background-image: url("{IMG_BUTTON_TOPIC_LOCKED_SRC}"); }
.pmreply-icon span	{ background-image: url("{IMG_BUTTON_PM_REPLY_SRC}"); }
.newpm-icon span	{ background-image: url("{IMG_BUTTON_PM_NEW_SRC}"); }
.forwardpm-icon span	{ background-image: url("{IMG_BUTTON_PM_FORWARD_SRC}"); }

a.print 		{ background-image: url("{T_THEME_PATH}/images/icon_print.png"); }
a.sendemail 		{ background-image: url("{T_THEME_PATH}/images/icon_sendemail.png"); }
a.fontsize		{ background-image: url("{T_THEME_PATH}/images/icon_fontsize.png"); }

/* Icon images */
.sitehome						{ background-image: url("{T_THEME_PATH}/images/icon_home.png"); }
.icon-faq						{ background-image: url("{T_THEME_PATH}/images/icon_faq.png"); }
.icon-members					{ background-image: url("{T_THEME_PATH}/images/icon_members.png"); }
.icon-home						{ background-image: url("{T_THEME_PATH}/images/icon_home.png"); }
.icon-ucp						{ background-image: url("{T_THEME_PATH}/images/icon_ucp.png"); }
.icon-register					{ background-image: url("{T_THEME_PATH}/images/icon_register.png"); }
.icon-logout					{ background-image: url("{T_THEME_PATH}/images/icon_logout.png"); }
.icon-bookmark					{ background-image: url("{T_THEME_PATH}/images/icon_bookmark.png"); }
.icon-bump						{ background-image: url("{T_THEME_PATH}/images/icon_bump.png"); }
.icon-subscribe					{ background-image: url("{T_THEME_PATH}/images/icon_subscribe.png"); }
.icon-unsubscribe				{ background-image: url("{T_THEME_PATH}/images/icon_unsubscribe.png"); }
.icon-pages						{ background-image: url("{T_THEME_PATH}/images/icon_pages.png"); }
.icon-search					{ background-image: url("{T_THEME_PATH}/images/icon_search.png"); }

/* Profile & navigation icons */
.email-icon, .email-icon a		{ background-image: url("{IMG_ICON_CONTACT_EMAIL_SRC}"); }
.aim-icon, .aim-icon a			{ background-image: url("{IMG_ICON_CONTACT_AIM_SRC}"); }
.yahoo-icon, .yahoo-icon a		{ background-image: url("{IMG_ICON_CONTACT_YAHOO_SRC}"); }
.web-icon, .web-icon a			{ background-image: url("{IMG_ICON_CONTACT_WWW_SRC}"); }
.msnm-icon, .msnm-icon a			{ background-image: url("{IMG_ICON_CONTACT_MSNM_SRC}"); }
.icq-icon, .icq-icon a			{ background-image: url("{IMG_ICON_CONTACT_ICQ_SRC}"); }
.jabber-icon, .jabber-icon a		{ background-image: url("{IMG_ICON_CONTACT_JABBER_SRC}"); }
.pm-icon, .pm-icon a				{ background-image: url("{IMG_ICON_CONTACT_PM_SRC}"); }
.quote-icon, .quote-icon a		{ background-image: url("{IMG_ICON_POST_QUOTE_SRC}"); }

/* Moderator icons */
.report-icon, .report-icon a		{ background-image: url("{IMG_ICON_POST_REPORT_SRC}"); }
.edit-icon, .edit-icon a			{ background-image: url("{IMG_ICON_POST_EDIT_SRC}"); }
.delete-icon, .delete-icon a		{ background-image: url("{IMG_ICON_POST_DELETE_SRC}"); }
.info-icon, .info-icon a			{ background-image: url("{IMG_ICON_POST_INFO_SRC}"); }
.warn-icon, .warn-icon a			{ background-image: url("{IMG_ICON_USER_WARN_SRC}"); }

/* Colours and backgrounds for cp.css */
/* Main CP box */

#cp-main h3, #cp-main hr, #cp-menu hr {
	border-color: #000;
}

#cp-main .panel li.row {
	border-bottom-color: #000;
	border-top-color: #000;
}

ul.cplist {
	border-top-color: #000;
}

#cp-main .panel li.header dd, #cp-main .panel li.header dt {
	color: #D7D4D4;
}

#cp-main table.table1 thead th {
	color: #D7D4D4;
	border-bottom-color: #000;
}

#cp-main .pm-message {
	border-color: #000;
	background-color: #303030;
}

/* CP tabbed menu*/
#tabs a {
	background-image: url("{T_THEME_PATH}/images/bg_tabs1.png");
}

#tabs a span {
	background-image: url("{T_THEME_PATH}/images/bg_tabs2.png");
	color: #b20304;
}

#tabs a:hover span {
	color: #CCC;
}

#tabs .activetab a {
	border-bottom-color: #000;
}

#tabs .activetab a span {
	color: #b20304;
}

#tabs .activetab a:hover span {
	color: #CCC;
}

/* Mini tabbed menu used in MCP */
#minitabs li {
	background-color: #191919;
}

#minitabs li.activetab {
	background-color: #191919;
}

#minitabs li.activetab a, #minitabs li.activetab a:hover {
	color: #b20304;
}

/* UCP navigation menu */

/* Link styles for the sub-section links */
#navigation a {
	background-color: #191919;
	/*background-image: url("{T_THEME_PATH}/images/bg_menu.png");*/
	color: #F9FAF9;
}

.rtl #navigation a {
	background-image: url("{T_THEME_PATH}/images/bg_menu_rtl.png");
	background-position: 0 100%;
}

#navigation a:hover {
	background-color: #333;
	background-image: none;
	color: #D7D4D4;
}

#navigation #active-subsection a {
	background-color: #212121;
	color: #b20304;
}

#navigation #active-subsection a:hover {
	color: #D7D4D4;
}

/* Preferences pane layout */
#cp-main h2 {
	color: #D7D4D4;
}

#cp-main .panel {
	background-color: #191919;
}

#cp-main .pm {
	background-color: #191919;
}

#cp-main span.corners-top, #cp-menu span.corners-top {
	background-image: url("{T_THEME_PATH}/images/corners_left2.png");
}

#cp-main span.corners-top span, #cp-menu span.corners-top span {
	background-image: url("{T_THEME_PATH}/images/corners_right2.png");
}

#cp-main span.corners-bottom, #cp-menu span.corners-bottom {
	background-image: url("{T_THEME_PATH}/images/corners_left2.png");
}

#cp-main span.corners-bottom span, #cp-menu span.corners-bottom span {
	background-image: url("{T_THEME_PATH}/images/corners_right2.png");
}

/* Topicreview */
#cp-main .panel #topicreview span.corners-top, #cp-menu .panel #topicreview span.corners-top {
	background-image: url("{T_THEME_PATH}/images/corners_left.png");
}

#cp-main .panel #topicreview span.corners-top span, #cp-menu .panel #topicreview span.corners-top span {
	background-image: url("{T_THEME_PATH}/images/corners_right.png");
}

#cp-main .panel #topicreview span.corners-bottom, #cp-menu .panel #topicreview span.corners-bottom {
	background-image: url("{T_THEME_PATH}/images/corners_left.png");
}

#cp-main .panel #topicreview span.corners-bottom span, #cp-menu .panel #topicreview span.corners-bottom span {
	background-image: url("{T_THEME_PATH}/images/corners_right.png");
}

/* Friends list */
.cp-mini {
	background-color: #191919;
}

dl.mini dt {
	color: #F9FAF9;
}

/* PM Styles */
/* PM Message history */
.current {
	color: #000000;
}

/* PM marking colours */
.pmlist li.pm_message_reported_colour, .pm_message_reported_colour {
	border-left-color: #000;
	border-right-color: #000;
}

.pmlist li.pm_marked_colour, .pm_marked_colour {
	border-color: #000;
}

.pmlist li.pm_replied_colour, .pm_replied_colour {
	border-color: #222;
}

.pmlist li.pm_friend_colour, .pm_friend_colour {
	border-color: #565656;
}

.pmlist li.pm_foe_colour, .pm_foe_colour {
	border-color: #980000;
}

/* Avatar gallery */
#gallery label {
	background-color: #191919;
	border-color: #000;
}

#gallery label:hover {
	background-color: #2A2A2A;
}

/* Colours and backgrounds for forms.css */
/* General form styles */
select {
	border-color: #666;
	background-color: #FAFAFA;
	color: #000;
}

label {
	color: #898989;
	text-shadow: -1px -1px 2px rgba(0,0,0,0.8);
}

option.disabled-option {
	color: graytext;
	text-decoration: line-through;
}

/* Definition list layout for forms */
dd label {
	color: #D9D4D4;
}

/* Hover effects */
fieldset dl:hover dt label {
	color: #D9D4D4;
	text-shadow: -1px -1px 2px rgba(0,0,0,0.8);
}

fieldset.fields2 dl:hover dt label {
	color: inherit;
}

/* Quick-login on index page */
fieldset.quick-login input.inputbox {
	background-color: #F2F3F3;
}

/* Posting page styles */

#message-box textarea {
	color: #333;
}

/* Input field styles */
.inputbox {
	background-color: #FFF;
	border-color: #2a2a2a;
	color: #333;
}

.inputbox:hover {
	border-color: #121212;
}

.inputbox:focus {
	border-color: #212121;
	color: #666;
}

/* Form button styles */

a.button1, input.button1, a.button2, input.button2, input.button3 {
	background: #2A2A2A/*  url("{T_THEME_PATH}/images/bg_button.gif") */;
	color: #F9FAF9;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

a.button1, input.button1 {
	border-color: #191919;
}

input.button3 {
	background-image: none;
}

/* Alternative button */
a.button2, input.button2, input.button3 {
	border-color: #191919;
}

/* <a> button in the style of the form buttons */
a.button1, a.button1:link, a.button1:visited, a.button1:active, a.button2, a.button2:link, a.button2:visited, a.button2:active {
	color: #F9FAF9;
	outline: none;
}

/* Hover states */
a.button1:hover, input.button1:hover, a.button2:hover, input.button2:hover, input.button3:hover {
	border-color: #000;
	color: #F9FAF9;
}

input.search {
	background-image: url("{T_THEME_PATH}/images/icon_textbox_search.png");
}

input.disabled {
	color: #666;
}