/* General Markup Styles */

* { margin: 0; padding: 0; }

html {
	height: 101%;
	overflow-y: scroll;
	background-color: #1F1F1F;
}

body {
	/* Text-Sizing with ems: http://www.clagnut.com/blog/348/ */
	font-family: Verdana, Helvetica, Arial, sans-serif;
	background-color: #191919;
	font-size: 62.5%;			 /*This sets the default font size to be equivalent to 10px */
	margin: 0;
	padding: 27px 0;
}

h1 {
	/* Forum name */
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	margin-right: 200px;
	margin-top: 15px;
	font-weight: bold;
	font-size: 2em;
}

h2 {
	/* Forum header titles */
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 2em;
	margin: 0.8em 0 0.2em 0;
}

h2.solo {
	margin-bottom: 1em;
}

h3 {
	/* Sub-headers (also used as post headers, but defined later) */
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	border-bottom: 1px solid;
	margin-bottom: 3px;
	padding-bottom: 2px;
	font-size: 1.05em;
	margin-top: 20px;
}

h4 {
	/* Forum and topic list titles */
	font-family: "Trebuchet MS", Verdana, Helvetica, Arial, Sans-serif;
	font-size: 1.3em;
}

p {
	line-height: 1.3em;
	font-size: 1.1em;
	margin-bottom: 1.5em;
}

img {
	border-width: 0;
}

hr {
	/* Also see tweaks.css */
	border: 0 none #FFFFFF;
	border-top: 1px solid #CCCCCC;
	height: 1px;
	margin: 5px 0;
	display: block;
	clear: both;
}

hr.dashed {
	border-top: 1px dashed #CCCCCC;
	margin: 10px 0;
}

hr.divider {
	display: none;
}

p.right {
	text-align: right;
}

/* Border
---------------------------------------- */
.border-left { 
    background: url("{T_THEME_PATH}/images/border_left.png") #191919 repeat-y 0 0;
}

.border-right {
    background: url("{T_THEME_PATH}/images/border_right.png") repeat-y 100% 0;
}

.border-top { 
    background: url("{T_THEME_PATH}/images/border_top.png") repeat-x 0 0; 
}

.border-top-left {
    background: url("{T_THEME_PATH}/images/border_top_left.png") no-repeat 0 0;
}

.border-top-right {
    background: url("{T_THEME_PATH}/images/border_top_right.png") no-repeat 100% 0;
    width: 100%;
}

.border-bottom { 
    background: url("{T_THEME_PATH}/images/border_bottom2.png") repeat-x 0 100%;
}

.border-bottom span {
    background: url("{T_THEME_PATH}/images/border_bottom.png") no-repeat 0 0;
    display: block;
    height: 18px; 
}

.border-bottom span span { 
    background-position: 100% -18px;
}

.inside { 
    padding: 15px 15px 5px 15px;
}

/* Main blocks */
#wrap {
	margin: 0 auto;
	padding: 0 20px;

}

#simple-wrap {
	padding: 6px 10px;
}

#page-body {
	clear: both;
	margin: 5px 0;
}

#page-footer {
	clear: both;
}

#page-footer h3 {
	margin-top: 20px;
}

#logo {
	float: left;
	width: auto;
	padding: 10px 13px 0 10px;
}

a#logo:hover {
	text-decoration: none;
}

/* Search box */
#search-box {
	display: block;
	float: right;
	margin-top: 30px;
	margin-right: 5px;
	position: relative;
	text-align: right;
	white-space: nowrap; /* For Opera */
}

#search-box #keywords {
	width: 95px;
	background-color: #FFF;
}

#search-box input {
	border: 1px solid #000;
}

/* .button1 style defined later, just a few tweaks for the search button version */
#search-box input.button1 {
	padding: 1px 5px;
}

#search-box li {
	text-align: right;
	margin-top: 4px;
}

#search-box img {
	vertical-align: middle;
	margin-right: 3px;
}

/* Site description and logo */
#site-description {
	float: left;
	width: 70%;
}

#site-description h1 {
	margin-right: 0;
}

/* Round cornered boxes and backgrounds */
.headerbar {
	background: none repeat-x 0 0;
	margin-bottom: 4px;
	padding: 0 5px;
}

.navbar {
	padding: 0 10px;
}

.forabg {
	background: none repeat-x 0 0;
	margin-bottom: 4px;
	padding: 0 5px;
	clear: both;
}

.forumbg {
	background: none repeat-x 0 0;
	margin-bottom: 4px;
	padding: 0 5px;
	clear: both;
}

.panel {
	margin-bottom: 4px;
	padding: 0 10px;
}

.post {
	background-position: 100% 0;
	background-repeat: no-repeat;
	padding: 0 10px;
	margin-bottom: 5px;
}

.post:target .content {}
.post:target h3 a {}
.bg1 {}
.bg2 {}
.bg3 {}

.rowbg {
	margin: 5px 5px 2px 5px;
}

.ucprowbg {}
.fieldsbg {}

span.corners-top, span.corners-bottom, span.corners-top span, span.corners-bottom span,
span.corners-top2, span.corners-bottom2, span.corners-top2 span, span.corners-bottom2 span {
	font-size: 1px;
	line-height: 1px;
	display: block;
	height: 5px;
	background-repeat: no-repeat;
}

span.corners-top, span.corners-top2 {
	background-image: none;
	background-position: 0 0;
	margin: 0 -5px;
}

span.corners-top span, span.corners-top2 span {
	background-image: none;
	background-position: 100% 0;
}

span.corners-bottom, span.corners-bottom2 {
	background-image: none;
	background-position: 0 100%;
	margin: 0 -5px;
	clear: both;
}

span.corners-bottom span, span.corners-bottom2 span {
	background-image: none;
	background-position: 100% 100%;
}

.headbg span.corners-bottom {
	margin-bottom: -1px;
}

.post span.corners-top, .post span.corners-bottom, .panel span.corners-top,
.panel span.corners-bottom, .navbar span.corners-top, .navbar span.corners-bottom,
.post span.corners-top2, .post span.corners-bottom2, .panel span.corners-top2,
.panel span.corners-bottom2, .navbar span.corners-top2, .navbar span.corners-bottom2 {
	margin: 0 -10px;
}

.rules span.corners-top, .rules span.corners-top2 {
	margin: 0 -10px 5px -10px;
}

.rules span.corners-bottom, .rules span.corners-bottom2 {
	margin: 5px -10px 0 -10px;
}

/* Horizontal lists */
ul.linklist {
	display: block;
	margin: 0;
}

ul.linklist li {
	display: block;
	list-style-type: none;
	float: left;
	width: auto;
	margin-right: 5px;
	font-size: 1.1em;
	line-height: 2.2em;
}

ul.linklist li.rightside, p.rightside {
	float: right;
	margin-right: 0;
	margin-left: 5px;
	text-align: right;
}

ul.navlinks {
	padding-bottom: 1px;
	margin-bottom: 1px;
	border-bottom: 1px solid;
/*	font-weight: bold; */
}

ul.leftside {
	float: left;
	margin-left: 0;
	margin-right: 5px;
	text-align: left;
}

ul.rightside {
	float: right;
	margin-left: 5px;
	margin-right: -5px;
	text-align: right;
}

/* Table styles */
table.table1 {
	/* See tweaks.css */
}

#ucp-main table.table1 {
	padding: 2px;
}

table.table1 thead th {
	font-size: 1em;
	font-weight: normal;
	line-height: 1.3em;
	padding: 0 0 4px 3px;
	text-transform: uppercase;
}

table.table1 thead th span {
	padding-left: 7px;
}

table.table1 tbody tr {
	border: 1px solid #cfcfcf;
}

table.table1 tbody tr:hover, table.table1 tbody tr.hover {}

table.table1 td {
	font-size: 1.1em;
}

table.table1 tbody td {
	padding: 5px;
	border-top: 1px solid;
}

table.table1 tbody th {
	border-bottom: 1px solid;
	padding: 5px;
	text-align: left;
}

/* Specific column styles */
table.table1 .name		{ text-align: left; }
table.table1 .posts		{ text-align: center !important; width: 7%; }
table.table1 .joined	{ text-align: left; width: 15%; }
table.table1 .active	{ text-align: left; width: 15%; }
table.table1 .mark		{ text-align: center; width: 7%; }
table.table1 .info		{ text-align: left; width: 30%; }
table.table1 .info div	{ overflow: hidden; white-space: normal; width: 100%; }
table.table1 .autocol	{ line-height: 2em; white-space: nowrap; }
table.table1 thead .autocol { padding-left: 1em; }
table.table1 span.rank-img	{ float: right; width: auto; }
table.info td		{ padding: 3px; }

table.info tbody th {
	font-weight: normal;
	padding: 3px;
	text-align: right;
	vertical-align: top;
}

.forumbg table.table1 {
	margin: 0;
}

.forumbg-table > .inner {
	margin: 0 -1px;
}

.forumbg-table > .inner > span.corners-top {
	margin: 0 -4px -1px -4px;
}

.forumbg-table > .inner > span.corners-bottom {
	margin: -1px -4px 0 -4px;
}

/* Misc layout styles */
/* column[1-2] styles are containers for two column layouts 
   Also see tweaks.css */
.column1 {
	clear: left;
	float: left;
	width: 49%;
}

.column2 {
	clear: right;
	float: right;
	width: 49%;
}

/* General classes for placing floating blocks */
.left-box {
	float: left;
	text-align: left;
	width: auto;
}

.right-box {
	float: right;
	text-align: right;
	width: auto;
}

dl.details {
	/*font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;*/
	font-size: 1.1em;
}

dl.details dt {
	float: left;
	clear: left;
	width: 30%;
	text-align: right;
	color: #000000;
	display: block;
}

dl.details dd {
	margin-left: 0;
	padding-left: 5px;
	margin-bottom: 5px;
	color: #828282;
	float: left;
	width: 65%;
}

/* Pagination
---------------------------------------- */
.pagination {
	height: 1%; /* IE tweak (holly hack) */
	width: auto;
	text-align: right;
	margin-top: 5px;
	float: right;
}

.pagination span.page-sep {
	display: none;
}

li.pagination {
	margin-top: 0;
}

.pagination strong, .pagination b {
	font-weight: normal;
}

.pagination span strong {
	padding: 0 2px;
	margin: 0 2px;
	font-weight: normal;
	color: #FFF;
	background-color: #1F1F1F;
	border: 1px solid #000;
	font-size: 0.9em;
}

.pagination span a, .pagination span a:link, .pagination span a:visited, .pagination span a:active {
	font-weight: normal;
	text-decoration: none;
	margin: 0 2px;
	padding: 0 2px;
	background-color: #1F1F1F;
	border: 1px solid;
	font-size: 0.9em;
	line-height: 1.5em;
}

.pagination span a:hover {
	border-color: #000;
	background-color: #090909;
	color: #FFF;
	text-decoration: none;
}

.pagination img {
	vertical-align: middle;
}

/* Pagination in viewforum for multipage topics */
.row .pagination {
	display: block;
	float: right;
	width: auto;
	margin-top: 0;
	padding: 1px 0 1px 15px;
	font-size: 0.9em;
	background: none 0 50% no-repeat;
}

.row .pagination span a, li.pagination span a {
	background-color: #FFFFFF;
}

.row .pagination span a:hover, li.pagination span a:hover {
	background-color: #d2d2d2;
}

/* Miscellaneous styles */
#forum-permissions {
	float: right;
	margin-left: 5px;
	margin-top: 10px;
	padding-left: 5px;
	text-align: right;
	width: auto;
}

.copyright {
	font-size: 1em;
	margin: 0;
	padding: 5px 5px 0;
	text-align: center;
	width: 100%;
}

.small {
	font-size: 0.9em !important;
}

.titlespace {
	margin-bottom: 15px;
}

.headerspace {
	margin-top: 20px;
}

.error {
	color: #bcbcbc;
	font-weight: bold;
	font-size: 1em;
}

.reported {
	background-color: #f7f7f7;
}

li.reported:hover {
	background-color: #ececec;
}

div.rules {
	background-color: #ececec;
	color: #bcbcbc;
	padding: 0 10px;
	margin: 10px 0;
	font-size: 1.1em;
}

div.rules ul, div.rules ol {
	margin-left: 20px;
}

p.rules {
	background-color: #ececec;
	background-image: none;
	padding: 5px;
}

p.rules img {
	vertical-align: middle;
}

p.rules a {
	vertical-align: middle;
	padding-top: 5px;
	clear: both;
}

#top {
	position: absolute;
	top: -20px;
}

.clear {
	display: block;
	clear: both;
	font-size: 1px;
	line-height: 1px;
	background: transparent;
}
