/*	--- Custom CSS for or added to proDVGFX --- */
/*	--- Save a copy before changing --- */
.postprofile {
	min-width: 20%;
}

.mainpostprofile {
	min-height: 58px;
}

.mainpostprofile-right {
	float: right;
	min-width: 200px;
	margin-right: 50px; /* fixes long timestamps being over online image */
	width: auto;
}

.tabs {
	float: left;
	margin: 5px 0;
	width: 100%;
}

ul.tabNav {
	background: url("{T_THEME_PATH}/images/bg_tabs3t.png") right 0 no-repeat;
	list-style: none;
	float: left;
	margin: 0;
	padding: 0;
	position: relative;
	width: 100%;
}

ul.tabNav li {
	background: url("{T_THEME_PATH}/images/bg_tabs3.png") left 0 no-repeat;
	display: inline;
	float: left;
	height: 25px;
	width: auto;
}

ul.tabNav li a:active, ul.tabNav li a:focus, ul.tabNav li a:link, ul.tabNav li a:visited {
	background: url("{T_THEME_PATH}/images/bg_tabs3.png") center 0 no-repeat;
	border-right: 1px solid #101010;
	border-left: 1px solid #1F1F1F;
	color: #CCC;
	display: block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	font-weight: bold;
	line-height: 25px;
	outline: none;
	padding: 0 15px;
	text-align: center;
	text-decoration: none;
	text-shadow: -1px -1px 1px rgba(0,0,0,0.7);
	text-transform: uppercase;
}

ul.tabNav li a.selected, ul.tabNav li a:hover {
	color: #b20304;
	text-decoration: none;
}

ul.tabNav li a.first {
	background: url("{T_THEME_PATH}/images/bg_tabs3.png") left 0 no-repeat;
	border-left: none;
}

div.tabs > div {
	float: left;
	margin: 0;
}

div.tabs > div h3 {
	margin-top: 10px;
}

.tabBG {
	display: block;
	overflow: hidden;
	padding: 0;
	width: 100%;
}

.tabBG p {
	margin: 0;
	padding-bottom: 5px;
}

#insidetabBG ul, #insidetabBG2 ul, #insidetabBG3 ul, #insidetabBG4 ul, #insidetabBG5 ul {}

#insidetabBG ul li, #insidetabBG2 ul li, #insidetabBG3 ul li, #insidetabBG4 ul li, #insidetabBG5 ul li, #tab_button {
	padding-top: 5px;
}

#insidetabBG, #insidetabBG2, #insidetabBG3, #insidetabBG4, #insidetabBG5 {
	background: #101010;
	padding: 5px 5px 0 5px;
	width: auto;
}

/*#first, #second, #third, #fourth {}*/