/*  phpBB3 Style Sheet
    --------------------------------------------------------------
	Style name:			proDVGFX
	Based on style:		prosilver (the default phpBB 3.0.x style)
	Original author:	Tom Beddard ( http://www.subblue.com/ )
	Modified by:		Prosk8er ( http://gotskillslounge.com/ )
    --------------------------------------------------------------
*/

@import url("common.css");
@import url("custom.css");
@import url("links.css");
@import url("content.css");
@import url("buttons.css");
@import url("cp.css");
@import url("forms.css");
@import url("tweaks.css");
@import url("colours.css");

html, body {
	background-color: #868686;
	color: #D3D3D3;
}